/* line 33, ../sass/core.scss */
html {
  height: 100%;
  font-family: Helvetica;
}

/* line 38, ../sass/core.scss */
body {
  position: relative;
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #222222;
  color: #222222;
  font-size: 16px;
  overflow: hidden;
}

/* line 49, ../sass/core.scss */
.color-low {
  color: #89e63b;
}

/* line 52, ../sass/core.scss */
.color-med {
  color: #fbf658;
}

/* line 55, ../sass/core.scss */
.color-high {
  color: #dd7663;
}

/* line 3, ../sass/admin.scss */
body {
  height: auto;
  overflow: auto;
}

/* line 8, ../sass/admin.scss */
.admin-eateries {
  display: block;
  position: relative;
  width: 100%;
  background-color: #fff;
  margin: 0px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 15, ../sass/admin.scss */
.admin-eateries h1 {
  text-align: center;
  margin: 0 0 20px;
}
/* line 18, ../sass/admin.scss */
.admin-eateries h1.top {
  margin-top: 0;
}

/* line 24, ../sass/admin.scss */
.form, .eateries-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 1px solid #adadad;
  margin-top: 10px;
  padding: 20px;
}

/* line 32, ../sass/admin.scss */
.form {
  display: none;
  margin-bottom: 20px;
}

/* line 37, ../sass/admin.scss */
.map-details {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #adadad;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 46, ../sass/admin.scss */
.map-details .label {
  display: inline-block;
  font-weight: bold;
}
/* line 50, ../sass/admin.scss */
.map-details .input {
  display: block;
  margin-bottom: 5px;
}
/* line 54, ../sass/admin.scss */
.map-details .show-hide-container {
  display: none;
}

/* line 60, ../sass/admin.scss */
#add-listing div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
/* line 65, ../sass/admin.scss */
#add-listing div input, #add-listing div textarea {
  width: 500px;
}
/* line 68, ../sass/admin.scss */
#add-listing div textarea {
  height: 200px;
}
/* line 71, ../sass/admin.scss */
#add-listing div.group {
  margin-top: 5px;
}
/* line 73, ../sass/admin.scss */
#add-listing div.group span {
  display: block;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
}
/* line 79, ../sass/admin.scss */
#add-listing div.group > div {
  padding-left: 10px;
}
/* line 82, ../sass/admin.scss */
#add-listing div.group label {
  width: 140px;
}
/* line 87, ../sass/admin.scss */
#add-listing label {
  display: inline-block;
  position: relative;
  width: 150px;
  font-weight: bold;
}

/* line 95, ../sass/admin.scss */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 99, ../sass/admin.scss */
.list li {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 12px;
  border: 1px solid black;
  background-color: #cdf1ff;
  margin-bottom: 5px;
}
/* line 108, ../sass/admin.scss */
.list li div {
  display: block;
  position: relative;
}
/* line 111, ../sass/admin.scss */
.list li div.name {
  font-size: 16px;
  display: inline-block;
}
/* line 115, ../sass/admin.scss */
.list li div.slide {
  display: none;
}
/* line 118, ../sass/admin.scss */
.list li div.description h2 {
  font-size: 14px;
  margin: 5px 0;
}
/* line 123, ../sass/admin.scss */
.list li .label {
  font-weight: bold;
  margin-right: 10px;
}

/* line 130, ../sass/admin.scss */
.options {
  float: right;
}
