/* line 33, ../sass/core.scss */
html {
  height: 100%;
  font-family: Helvetica;
}

/* line 38, ../sass/core.scss */
body {
  position: relative;
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #222222;
  color: #222222;
  font-size: 16px;
  overflow: hidden;
}

/* line 49, ../sass/core.scss */
.color-low {
  color: #89e63b;
}

/* line 52, ../sass/core.scss */
.color-med {
  color: #fbf658;
}

/* line 55, ../sass/core.scss */
.color-high {
  color: #dd7663;
}

/* line 59, ../sass/core.scss */
#title-bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #adadad;
  height: 50px;
  line-height: 50px;
}
/* line 70, ../sass/core.scss */
#title-bar h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
  line-height: 50px;
}

/* line 77, ../sass/core.scss */
#left-panel {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 240px;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 86, ../sass/core.scss */
#right-panel {
  display: block;
  position: absolute;
  top: 50px;
  left: 240px;
  width: 500px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../sass/admin.scss */
body {
  height: auto;
  overflow: auto;
}

/* line 8, ../sass/admin.scss */
.admin-eateries {
  display: block;
  position: relative;
  width: 900px;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #adadad;
}
/* line 17, ../sass/admin.scss */
.admin-eateries h1 {
  text-align: center;
  margin: 20px 0;
}
/* line 20, ../sass/admin.scss */
.admin-eateries h1.top {
  margin-top: 0;
}

/* line 26, ../sass/admin.scss */
.form, .eateries-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 1px solid #adadad;
  margin-top: 10px;
  padding: 20px;
}

/* line 34, ../sass/admin.scss */
#add-listing div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
/* line 39, ../sass/admin.scss */
#add-listing div input, #add-listing div textarea {
  width: 500px;
}
/* line 42, ../sass/admin.scss */
#add-listing div textarea {
  height: 200px;
}
/* line 46, ../sass/admin.scss */
#add-listing div.group {
  margin-top: 5px;
}
/* line 48, ../sass/admin.scss */
#add-listing div.group span {
  display: block;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
}
/* line 54, ../sass/admin.scss */
#add-listing div.group > div {
  padding-left: 10px;
}
/* line 57, ../sass/admin.scss */
#add-listing div.group label {
  width: 140px;
}
/* line 62, ../sass/admin.scss */
#add-listing label {
  display: inline-block;
  position: relative;
  width: 150px;
  font-weight: bold;
}

/* line 70, ../sass/admin.scss */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 74, ../sass/admin.scss */
.list li {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 12px;
  border: 1px solid black;
  background-color: #cdf1ff;
  margin-bottom: 5px;
}
/* line 83, ../sass/admin.scss */
.list li div {
  display: block;
  position: relative;
}
/* line 86, ../sass/admin.scss */
.list li div.name {
  font-size: 16px;
  display: inline-block;
}
/* line 90, ../sass/admin.scss */
.list li div.slide {
  display: none;
}
/* line 93, ../sass/admin.scss */
.list li div.description h2 {
  font-size: 14px;
  margin: 5px 0;
}
/* line 98, ../sass/admin.scss */
.list li .label {
  font-weight: bold;
  margin-right: 10px;
}

/* line 105, ../sass/admin.scss */
.options {
  float: right;
}
