/* line 35, ../sass/map.scss */
html {
  height: 100%;
  font-family: Helvetica;
}

/* line 40, ../sass/map.scss */
body {
  position: relative;
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #222222;
  color: #222222;
  font-size: 16px;
  overflow: hidden;
}

/* line 51, ../sass/map.scss */
.color-low {
  color: #89e63b;
}

/* line 54, ../sass/map.scss */
.color-med {
  color: #fbf658;
}

/* line 57, ../sass/map.scss */
.color-high {
  color: #dd7663;
}

/* Containers */
/* line 63, ../sass/map.scss */
article {
  position: absolute;
  -webkit-transition: left 0.6s ease-in-out;
  -moz-transition: left 0.6s ease-in-out;
  -o-transition: left 0.6s ease-in-out;
  transition: left 0.6s ease-in-out;
}

/* Left Menu */
/* line 70, ../sass/map.scss */
#left-container {
  top: 0;
  left: -15%;
  height: 100%;
  overflow-y: auto;
  width: 15%;
  padding: 10px 12px;
  color: #f2f2f2;
  background: url("../img/bg_linen_light.png") repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 80, ../sass/map.scss */
body.menu-left #left-container {
  left: 0;
}
/* line 83, ../sass/map.scss */
#left-container h2 {
  color: #818181;
  font-family: "Helvetica";
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0;
  margin: 0 0 0.3em;
  text-indent: 0.5em;
}
/* line 92, ../sass/map.scss */
#left-container .tags {
  margin-top: 0;
  min-height: 50%;
  width: 100%;
  background: url("../img/bg_linen.png") repeat;
  padding: 0.4em 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: #777777 0px -2px 2px -2px inset, black 0px 2px 6px -1px inset;
  -moz-box-shadow: #777777 0px -2px 2px -2px inset, black 0px 2px 6px -1px inset;
  box-shadow: #777777 0px -2px 2px -2px inset, black 0px 2px 6px -1px inset;
}
/* line 101, ../sass/map.scss */
#left-container .tags .tag {
  display: inline-block;
  font-size: 0.9em;
  padding: 4px 8px;
  margin: 5px 3px;
  color: #f2f2f2;
  background-color: #666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: solid 1px #333;
}
/* line 112, ../sass/map.scss */
#left-container .tags .tag:hover, #left-container .tags .tag.active {
  background: #ff9c4c;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9c4c), to(#ff7400));
  background: -moz-linear-gradient(top, #ff9c4c, #ff7400);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9c4c', endColorstr='#ff7400');
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

/* Top Bar */
/* line 125, ../sass/map.scss */
#top-bar {
  height: 50px;
  max-height: 50px;
  width: 100%;
  left: 0;
  background-color: #222222;
  background: url("../img/bg_linen_light.png") repeat;
  color: #f2f2f2;
  border: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
}
/* line 136, ../sass/map.scss */
#top-bar button {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  vertical-align: middle;
  margin-bottom: 1.1em;
  font-size: 0.9em;
  padding: 5px 8px;
}
/* line 145, ../sass/map.scss */
#top-bar .right {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 0.8em;
  text-align: right;
}
/* line 153, ../sass/map.scss */
#top-bar h1.page-title {
  display: inline-block;
  height: 100%;
  font-size: 2em;
  line-height: 50px;
  padding: 0;
  margin: 0 10px 0 0;
  text-indent: 10px;
  font-family: "Lato";
  font-style: italic;
}
/* line 164, ../sass/map.scss */
body.menu-left #top-bar {
  left: 15%;
}
/* line 167, ../sass/map.scss */
#top-bar .header-link {
  color: yellow;
  text-decoration: none;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 0.9em;
}

/* line 177, ../sass/map.scss */
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* line 188, ../sass/map.scss */
.button.blue {
  color: #d9eef7;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top, #00adee, #0078a5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
/* line 195, ../sass/map.scss */
.button.blue:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top, #0078a5, #00adee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
/* line 201, ../sass/map.scss */
.button.gray {
  color: #d9eef7;
  border: solid 1px #333;
  background: #b5bdc8;
  background: -webkit-gradient(linear, left top, left bottom, from(#828c95), to(#28343b));
  background: -moz-linear-gradient(top, #828c95, #28343b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#828c95', endColorstr='#28343b');
}
/* line 208, ../sass/map.scss */
.button.gray:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#28343b), to(#828c95));
  background: -moz-linear-gradient(top, #28343b, #828c95);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28343b', endColorstr='#828c95');
}
/* line 214, ../sass/map.scss */
.button.orange {
  color: #d9eef7;
  border: solid 1px #333;
  background: #ff9c4c;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9c4c), to(#ff7400));
  background: -moz-linear-gradient(top, #ff9c4c, #ff7400);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9c4c', endColorstr='#ff7400');
}
/* line 221, ../sass/map.scss */
.button.orange:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7400), to(#ff9c4c));
  background: -moz-linear-gradient(top, #ff7400, #ff9c4c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7400', endColorstr='#ff9c4c');
}
/* line 227, ../sass/map.scss */
.button:hover {
  text-decoration: none;
}
/* line 230, ../sass/map.scss */
.button:active {
  position: relative;
  top: 1px;
}

/* Map Container */
/* line 238, ../sass/map.scss */
#container-map {
  top: 5%;
  left: 0%;
  height: 85%;
  width: 100%;
  z-index: 50;
}
/* line 244, ../sass/map.scss */
body.menu-left #container-map {
  left: 15%;
}
/* line 247, ../sass/map.scss */
#container-map .infobox-container {
  display: block;
  font-size: 0.875em;
  line-height: 1.3em;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #222222;
  padding: 10px 15px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px 2px;
  overflow-y: auto;
}
/* line 259, ../sass/map.scss */
#container-map .infobox-container > img {
  position: absolute !important;
  top: 5px;
  right: 5px;
}
/* line 264, ../sass/map.scss */
#container-map .infobox-container span.title {
  display: block;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
}
/* line 271, ../sass/map.scss */
#container-map .infobox-container .price {
  display: inline-block;
  font-size: 0.8em;
  padding: 2px 5px;
  margin: 4px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 277, ../sass/map.scss */
#container-map .infobox-container .price[data-price="low"] {
  background-color: #89e63b;
}
/* line 280, ../sass/map.scss */
#container-map .infobox-container .price[data-price="med"] {
  background-color: #fbf658;
}
/* line 283, ../sass/map.scss */
#container-map .infobox-container .price[data-price="high"] {
  background-color: #dd7663;
}
/* line 287, ../sass/map.scss */
#container-map .infobox-container .tags {
  display: inline-block;
  margin-left: 5px;
  font-size: 0.8em;
  font-style: italic;
}
/* line 293, ../sass/map.scss */
#container-map .infobox-container h2 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.125em;
  margin: 0;
  padding: 0;
}
/* line 300, ../sass/map.scss */
#container-map .infobox-container p:last-child {
  margin-bottom: 0px;
}

/* Bottom -- Listings */
/* line 308, ../sass/map.scss */
#bottom-container {
  height: 100px;
  max-height: 100px;
  bottom: 0;
  width: 100%;
  -webkit-transition: left 0.6s ease-in-out, height 0.4s ease-in-out;
  -moz-transition: left 0.6s ease-in-out, height 0.4s ease-in-out;
  -o-transition: left 0.6s ease-in-out, height 0.4s ease-in-out;
  transition: left 0.6s ease-in-out, height 0.4s ease-in-out;
  z-index: 150;
  background: url("../img/bg_linen_light.png") repeat;
}
/* line 316, ../sass/map.scss */
body.menu-left #bottom-container {
  left: 15%;
}
/* line 319, ../sass/map.scss */
body.menu-bottom #bottom-container {
  height: 15%;
}

/* line 323, ../sass/map.scss */
.listing-scroll {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  overflow-x: auto;
  overflow-y: hidden;
}
/* line 331, ../sass/map.scss */
.listing-scroll .listing-container {
  width: 100%;
}
/* line 333, ../sass/map.scss */
.listing-scroll .listing-container .listing {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 130px;
  height: 120px;
  min-height: 100px;
  color: #f2f2f2;
  background-color: #333;
  background-color: #414141;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF414141', endColorstr='#FF111111');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxNDE0MSIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjMTExMTExIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #414141), color-stop(80%, #111111));
  background-image: -webkit-linear-gradient(top, #414141 0%, #111111 80%);
  background-image: -moz-linear-gradient(top, #414141 0%, #111111 80%);
  background-image: -o-linear-gradient(top, #414141 0%, #111111 80%);
  background-image: linear-gradient(top, #414141 0%, #111111 80%);
  -webkit-box-shadow: #222222 -5px 0 10px 3px inset;
  -moz-box-shadow: #222222 -5px 0 10px 3px inset;
  box-shadow: #222222 -5px 0 10px 3px inset;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  margin-right: 2px;
  padding: 3px 8px;
  margin: 5px;
  cursor: pointer;
}
/* line 349, ../sass/map.scss */
.listing-scroll .listing-container .listing:hover, .listing-scroll .listing-container .listing.active {
  background-color: #999;
  background-color: #0090ff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0090FF', endColorstr='#FF111111');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTBmZiIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjMTExMTExIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0090ff), color-stop(80%, #111111));
  background-image: -webkit-linear-gradient(top, #0090ff 0%, #111111 80%);
  background-image: -moz-linear-gradient(top, #0090ff 0%, #111111 80%);
  background-image: -o-linear-gradient(top, #0090ff 0%, #111111 80%);
  background-image: linear-gradient(top, #0090ff 0%, #111111 80%);
  -webkit-box-shadow: rgba(242, 242, 242, 0.4) 0 0 25px;
  -moz-box-shadow: rgba(242, 242, 242, 0.4) 0 0 25px;
  box-shadow: rgba(242, 242, 242, 0.4) 0 0 25px;
}
/* line 354, ../sass/map.scss */
.listing-scroll .listing-container .listing .title {
  font-size: 0.9em;
}
/* line 357, ../sass/map.scss */
.listing-scroll .listing-container .listing .price {
  font-size: 0.65em;
}
/* line 359, ../sass/map.scss */
.listing-scroll .listing-container .listing .price[data-price="low"] {
  color: #89e63b;
}
/* line 362, ../sass/map.scss */
.listing-scroll .listing-container .listing .price[data-price="med"] {
  color: #fbf658;
}
/* line 365, ../sass/map.scss */
.listing-scroll .listing-container .listing .price[data-price="high"] {
  color: #dd7663;
}
/* line 369, ../sass/map.scss */
.listing-scroll .listing-container .listing .metadata {
  width: 75%;
  padding: 3% 0;
  float: left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 375, ../sass/map.scss */
.listing-scroll .listing-container .listing .best-of {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Welcome Message */
/* line 386, ../sass/map.scss */
#container-welcome {
  z-index: 100;
  display: block;
  position: absolute;
  padding: 20px;
  width: 40%;
  right: 10%;
  top: 10%;
  font-size: 0.875em;
  line-height: 1.3em;
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 399, ../sass/map.scss */
#container-welcome p:first-of-type {
  margin-top: 0px;
  padding-top: 0px;
}
/* line 403, ../sass/map.scss */
#container-welcome p:last-child {
  margin-bottom: 0px;
}
/* line 407, ../sass/map.scss */
#container-welcome #js-close-welcome {
  position: absolute;
  display: inline-block;
  top: 0.4em;
  right: 0.7em;
  font-size: 0.7em;
  cursor: pointer;
}
