<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Daniel Na" />
    <meta name="description" content="My map of favorite places to eat in Northern VA/MD/DC.">
    <title>MAPEATER | om nom nom</title>
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/css/home.css">
</head>
<body>
    <div class="app-container">
        <div class="title">
            <h1>
                MAPEATER
            </h1>
            <span class="subtitle">
                om nom nom
            </span>
        </div>

        <article class="login">
            <form id="login" action="/login" method="POST">
                <div class="line">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">
                </div>
                <div class="line">
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password">
                </div>
                <div class="line">
                    <input type="submit" id="submit">
                </div>
            </form>
        </article>
    </div>

    <!--
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38929037-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    -->

</body>
</html>