@import "core";

body {
    height: auto;
    overflow: auto;
}

.admin-eateries {
    display: block;
    position: relative;
    width: 100%;
    background-color: #fff;
    margin: 0px auto;
    padding: 20px;
    @include box-sizing(border-box);
    h1 {
        text-align: center;
        margin: 20px 0;
        &.top {
            margin-top: 0;
        }
    }
}

.form, .eateries-list {
    @include box-sizing(border-box);
    background-color: $color-lightgray;
    border: 1px solid $color-darkgray;
    margin-top: 10px;
    padding: 20px;
}
#add-listing {
    div {
        display: block;
        position: relative;
        @include box-sizing(border-box);
        margin-bottom: 10px;
        input, textarea {
            width: 500px;
        }
        textarea {
            height: 200px;
        }
        &.group {
            margin-top: 5px;
            span {
                display: block;
                font-weight: bold;
                font-style: italic;
                margin-bottom: 5px;
            }
            > div {
                padding-left: 10px;
            }
            label {
                width: 140px;
            }
        }
    }
    label {
        display: inline-block;
        position: relative;
        width: 150px;
        font-weight: bold;
    }
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: block;
        position: relative;
        @include box-sizing(border-box);
        padding: 10px;
        font-size: 12px;
        border: 1px solid black;
        background-color: lighten($color-blue, 50%);
        margin-bottom: 5px;
        div {
            display: block;
            position: relative;
            &.name {
                font-size: 16px;
                display: inline-block;
            }
            &.slide {
                display: none;
            }
            &.description h2 {
                font-size: 14px;
                margin: 5px 0;
            }
        }
        .label {
            font-weight: bold;
            margin-right: 10px;
        }
    }
}

.options {
    float: right;
}