<link rel="stylesheet" type="text/css" href="assets/css/home.css">

<div class="title">
    <h1>
        MAPEATER
    </h1>
    <span class="subtitle">
        om nom nom
    </span>
</div>

<article class="login">
    <form id="login" action="/login" method="POST">
        <div class="line">
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
        </div>
        <div class="line">
            <label for="password">Password</label>
            <input type="text" name="password" id="password">
        </div>
        <div class="line">
            <input type="submit" id="submit">
        </div>
        
    </form>
</article>

<!-- Reminder: things you hate -->
<!-- splash pages that give no example of a real world use case -->
<!-- Just a login prompt -->