<link rel="stylesheet" type="text/css" href="assets/css/map.css">

<article id="left-container">
    <h2>Filter by Tag</h2>
    <ul id="container-tags" class="tags">
        <!-- #template-tag -->
    </ul>

    <h2>Filter by Ethnicity</h2>
    <ul id="container-ethnicities" class="tags">
        <!-- #template-tag -->
    </ul>
</article>

<article id="top-bar">
    <button id="js-btn-menu" class="button gray" title="Filters">&laquo; Show</button>
    <h1 class="page-title"><%= name %></h1>
    <button id="js-btn-reset" class="button blue" title="Reset Map">Reset Map</button>
    <button id="js-btn-welcome" class="button blue" title="Show welcome message">Welcome</button>
    <button id="js-btn-admin" class="button orange" title="Admin">Admin</button>
    <span class="right">Updated <%= modified %>, Created <%= created %> | Works best in Chrome/Safari</span>
</article>

<article id="container-map">
</article>

<article id="bottom-container">
    <div class="listing-scroll">
        <div class="js-listing-container listing-container">
            <!-- #template-listing -->
        </div>
    </div>
</article>

<div id="container-welcome">
    <span id="js-close-welcome" title="Close this message">
        close
    </span>
    <p>
        <%= welcome_message %>
    </p>
    <p>Color scheme:</p>
    <ul>
        <li><span class="color-low">Green</span>: Cheap (<= $10)</li>
        <li><span class="color-med">Yellow</span>: Medium ($10 < $ <= $25)</li>
        <li><span class="color-high">Red</span>: Expensive (> $25)</li>
    </ul>
    <p>
        Current best restaurants are denoted by a <img style="vertical-align: middle;" src="assets/img/star.png" title="Star"/>.
    </p>
</div>