<div class="options">
    <a href="javascript:;" data-id="<%=id%>" class="model-edit">Edit</a> |
    <a href="javascript:;" data-id="<%=id%>" class="model-delete">Delete</a> |
    <a href="javascript:;" class="collapse">Show/Hide Details</a>
</div>
<div class="name">
    <span class="label">Name:</span>
    <%= name %>
</div>
<div class="slide">
    <div class="description">
        <span class="label">Description:</span>
        <%= description %>
    </div>
    <div class="price">
        <span class="label">Price:</span>
        <%= price %>
    </div>
    <div class="ethnicity">
        <span class="label">Ethnicity:</span>
        <% for(var e in ethnicity) { %>
            <%= ethnicity[e] %>
        <% } %>
    </div>
    <div class="tags">
        <span class="label">Tags:</span>
        <% for(var t in tags) { %>
            <%= tags[t] %>
        <% } %>
    </div>
    <div class="lat">
        <span class="label">Latitude:</span>
        <%= coordinates.lat %>
    </div>
    <div class="lng">
        <span class="label">Longitude:</span>
        <%= coordinates.lng %>
    </div>
    <div class="created">
        <span class="label">Created:</span>
        <%= created %>
    </div>
    <div class="modified">
        <span class="label">Modified:</span>
        <%= modified %>
    </div>
</div>