 <div>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value=""/>
</div>
<div>
    <label for="description">Description:</label>
    <textarea name="description" id="description"></textarea>
</div>
<div>
    <label for="price">Price:</label>
    <select id="price" name="price">
        <option value="low">Low</option>
        <option value="med">Medium</option>
        <option value="high">High</option>
    </select>
</div>
<div>
    <label for="ethnicity">Ethnicity:</label>
    <input type="text" name="ethnicity" id="ethnicity" value=""/>
</div>
<div>
    <label for="tags">Tags:</label>
    <input type="text" name="tags" id="tags" value=""/>
</div>
<div class="group">
    <span>Coordinates</span>
    <div>
        <label for="lat">Latitude:</label>
        <input type="text" id="lat" name="lat" value=""/>
    </div>
    <div>
        <label for="lng">Longitude:</label>
        <input type="text" id="lng" name="lng" value=""/>
    </div>
</div>
<input type="submit" id="submit"></input>