<a href="javascript:;" class="show-hide">Map Details</a>
<div class="show-hide-container">
    <div class="row">
        <span class="label">Name</span>
        <div class="input name"><%= name %></div>
    </div>
    <div class="row">
        <span class="label">Description</span>
        <div class="input description"><%= description %></div>
    </div>
    <div class="row">
        <span class="label">Welcome Message</span>
        <div class="input welcome-message"><%= welcome_message %></div>
    </div>
    <div class="row">
        <span class="label">Last Modified</span>
        <div class="input last-modified"><%= modified %></div>
    </div>
    <div class="row">
        <span class="label">Created</span>
        <div class="input created"><%= created %></div>
    </div>
</div>